<!-- Tabs Go Here -->

    <ul class="nav navbar-nav">
        <li ng-class="{ active:tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Year</a>
        </li>
        <li ng-class="{ active:tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Month</a>
        </li>
        <li ng-class="{ active:tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Week</a>
        </li>
        <li ng-class="{ active:tab.isSet(4) }">
            <a href ng-click="tab.setTab(4)">Day</a>
        </li>
    </ul>

