.month-board {
    background-color: #fff;
    min-height: 6em;
    padding: 5px;
    margin: 1em;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.month-name {
    margin-bottom: 0px;
}
p.month-tasks {
    font-size: 14px;
    margin-bottom: 0px;
}